*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body{
    background: hsl(212, 45%, 89%)
}

.content{
    background-color: hsl(0, 0%, 100%);
    margin: 100px auto;
    max-width: 300px;
    overflow: hidden;
    border-radius: 20px;
}

.information img{
    display: block;
    width: 90%;
    margin: 15px auto;
    border-radius: 10px;
}

.information h3{
    text-align: center;
    margin: 20px 20px;
    font-size: 22px;
}
.information p{
    font-size: 15px;
    text-align: center;
    margin: 20px 20px;
}